<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>

    <h2>Relaci&oacute;n de Combustible</h2>
    <div id="resultado">
        

    </div>
   
   
    <input type="text"
           id="txtTipoCombustible"
           value=""
           placeholder="nombre del nuevo Combustible" />
    <button id="btnAddCombustible">Crear Combustible</button>
   





    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="./js/combustible.js"></script>
</body>
</html>
